body {
  background: #545065;
}

.heading {
  color: #fff;
  margin: 10px 0;
}

.task-form {
  background: #e4e4e1;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.45);
}

.add-task {
  position: relative;
  margin: 0;
}

.add-task input {
  font-size: 16px;
  padding: 10px 32px 10px 12px;
}
.form-submit {
  position: absolute;
  right: 8px;
  TOP: 3px;
  FONT-SIZE: 20PX;
  color: #4caf50;
}

.filter {
  margin-bottom: 15px;
}

.btn-filter {
  color: #b5acac;
  margin-right: 10px;
}

.btn-selected,
.btn-filter:hover,
.btn-filter:focus {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.taskItem {
  position: relative;
  padding: 10px 45px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #66ab7f;
  color: #e1e6f9;
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.45);
}

.taskItem:hover {
  cursor: pointer;
}

.taskItem p {
  color: #e1e6f9;
  text-align: center;
  font-size: 20px;
}

.taskItem:hover .btn-complete,
.taskItem:hover .btn-edit,
.taskItem:hover .btn-delete {
  display: block;
  cursor: pointer;
}

.btn-complete,
.btn-complete:focus,
.btn-complete:hover {
  display: none;
  position: absolute;
  left: 12px;
  top: 15px;
  font-size: 22px;
  color: #fff;
}

.btn-edit {
  display: none;
  position: absolute;
  top: 6px;
  right: 16px;
  color: #fff;
}

.btn-delete {
  display: none;
  position: absolute;
  top: 32px;
  right: 17px;
  color: #fff;
}

.edit {
  width: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  color: #716767;
}

.btn-save,
.btn-save:hover,
.btn-save:focus {
  position: absolute;
  right: 11px;
  top: 10px;
  font-weight: 600;
  color: #fff;
}

.btn-cancel,
.btn-cancel:hover,
.btn-cancel:focus {
  position: absolute;
  top: 32px;
  right: 16px;
  font-weight: 600;
  color: red;
}

.completed {
  background: #59595a;
  color: #7d7a7a;
  text-decoration: line-through;
}

.completed p {
  color: #7d7a7a;
  text-decoration: line-through;
  text-decoration-color: red;
}

.check {
  display: block;
  color: #4caf50;
}
